
.content {
    margin-left: 4px;
  }
  .tasto {
    height: 80px;
    width: 92px;
    background-color: #000000 ;
    color: #ffffff;
    font-size: 22pt;
    border: #e68181 solid 2px;
    margin: 4px 2px;
    display: inline-block;
    line-height: 80px;
    text-align: center;
    user-select: none;
  }
  .display {
    background: #ffffff;
    color: #000000;
    font-size: 48pt;
    border: #e68181 solid 2px;
    font-family: 'Digital-7';
    margin: 4px 2px;
    width: 384px;
    height: 66px;  
    overflow-wrap: break-word;          
  }
  .lungo {
      width: 192px;
  }
  body {
      background-size:auto;
      background-image:url("../images/sfondo.jpg");
      background-repeat: no-repeat;
      
  }
  .calcolatrice {
      background-color: gray;
      margin-left: auto;
      margin-right: auto;
      padding: 8px;
      width: 400px;
  }
  .titolo {
      font-size: 100px;
      font-family: 'Digital-7';
      color: yellow;
      text-align: center;
  }
  @font-face {
    font-family: "Digital-7";
    src: url("../font/digital-7.ttf");
  }	
	